<main>
    <section id="section-login">
        <h1>Login</h1>
        <form class="row g-3">
           
              <label for="staticUsuario" class="visually-hidden">Usuário</label>
              <input type="text"  class="form-control " id="staticEmail2" placeholder="Email">
                <br>
              <label for="inputPassword2" class="visually-hidden">senha</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Senha">
                <br>
              <button type="submit" class="btn btn-primary mb-3">Login</button>
            
          </form>

    </section>
</main>
