#section-banner img{
    height: 500px;
    
}

main{
    min-height: 500px;
}

#section-banner{
    min-height: 200px;
}

.example-card {
    max-width: 400px;
    
  
  }
  
  mat-card img{
    height: 300px;
    width: 300px;
  }




  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: auto;
  }
  
  h2{
    text-align: center;
    margin:30px;
    font-weight: bold;
  }

  mat-grid-list{
    margin:10px 0px;
    min-height: 500px;
  }


  mat-gride-tile{
    
    padding: 5px;
    border-radius: 20px;
   
  }

  mat-card-title{
    text-align: center;
  }

  p{
    text-align: center;
    font-size: large;
    font-weight: bold;
  }

  mat-card-header{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  