<main>

    <section id="section-banner">
  
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/img/PS5.jpg" class="d-block w-100" alt="Play 5">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/Nintendo-Switch.jpeg" class="d-block w-100" alt="Nintendo switch">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/mouse_teclado.PNG" class="d-block w-100" alt="Mouse gamer">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  
    </section>

    <h2>Jogos em promoção</h2>

    <mat-grid-list cols="3" rowHeight="2:1">

      <mat-grid-tile>

        <mat-card class="example-card">
          <img mat-card-image src="./assets/img/codmw.jpg" alt="Cod MW">
          <mat-card-header>
            <mat-card-title>Call Of Duty: Modern Warfare</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              R$ 250,00
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Compre já</button>
          </mat-card-actions>
        </mat-card>

      </mat-grid-tile>

      <mat-grid-tile>

        <mat-card class="example-card">
          <img mat-card-image src="./assets/img/gow.jpg" alt="God of War">
          <mat-card-header>
            <mat-card-title> God of war 2</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              R$ 180,00
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Compre já</button>
          </mat-card-actions>
        </mat-card>

      </mat-grid-tile>

      <mat-grid-tile>

        <mat-card class="example-card">
          <img mat-card-image src="./assets/img/black.jpg" alt="Black Ps2">
          <mat-card-header>
            <mat-card-title>Black</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              R$ 200,00
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Compre já</button>
          </mat-card-actions>
        </mat-card>

      </mat-grid-tile>

      

    </mat-grid-list>
    
    


</main>